* {
    margin: 0;
    padding: 0;
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 10pt;
    color: #333322;
    box-sizing: border-box;
}

#app {
    margin: 0.5em;
    padding: 0.2em;
    vertical-align: top;
    border: 0px solid yellow;
}

#menu {
    list-style-type: none;
    margin: 0;
    float: left;
    width: 200px;
    max-width: 200px;
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 0px solid red;
}

#menu li {
    padding: 0.3em 0.5em;
    cursor: pointer;
    border: 1px dotted white;
}

#menu li,
#menu li select {
    font-weight: bold;
    font-size: inherit;
}

#menu li:hover {
    color: blue;
    border: 1px dotted blue;
}

#display_panel {
    float: left;
    padding: 0.5em;
    border-left: 1px solid #ccc;
}

#DISPLAY {
    margin: 0;
    padding: 0;
    border: 0px solid blue;
    cursor: crosshair;
    max-width: 560px;
    max-height: 560px;
}

.buttonBar {
    padding: 0.3em 0.5em 0.4em 0.5em;
    text-align: center;
}

#CLEAR_MSGS {
    padding: 0.3em 0.8em;
    margin-right: 3em;
}

#DEBUG_GLYPH {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    top: 0.4em;
}

#DEBUG_GLYPH > label {
    padding-left: 2em;
}

#status_bar {
    padding: 0.3em 0.5em;
    height: 2em;
    border: 1px solid #ccc;
}

#mouse_xy {
    float: right;
}

#mouse_x,
#mouse_y {
    font-weight: bold;
}

#log_panel {
    padding: 0em;
    border: 1px solid #ccc;
}

#log {
    font-family: consolas, monospace;
    font-size: 0.85em;
    width: 100%;
    overflow: scroll;
    min-height: 100px;
    max-height: 250px;
    margin: 0;
    padding: 0.5em;
    border-top: 1px solid #ccc;
}
